.Rproj.user
.Rhistory
.RData
.Ruserdata
./.git/objects/0e/bf8430ebbac7a1ffbc418a81cd244f0a79547d
./data/Montipora_capitata_HIv3.assembly.fasta.gz
./data/Montipora_capitata_HIv3.genes_fixed.gff3
./data/Montipora_capitata_HIv3.assembly.fasta
./.git/objects/pack/pack-f5a16beafcddf47f0b7deee2968c9b874fc6419e.pack
./.git/objects/pack/pack-3b99e01d62db49d2b43a8825f9f3a5aa43284558.pack
./rawfastq/00_fastq/789L14_R2_001.fastq.gz
./rawfastq/00_fastq/456H9_R1_001.fastq.gz
./rawfastq/00_fastq/13M14_R2_001.fastq.gz
./rawfastq/00_fastq/123C9_R2_001.fastq.gz
./rawfastq/00_fastq/131415M4_R2_001.fastq.gz
./rawfastq/00_fastq/789C4_R2_001.fastq.gz
./rawfastq/00_fastq/45C14_R2_001.fastq.gz
./rawfastq/00_fastq/6C14_R1_001.fastq.gz
./rawfastq/00_fastq/45C14_R1_001.fastq.gz
./rawfastq/00_fastq/131415C4_R2_001.fastq.gz
./rawfastq/00_fastq/131415L9_R1_001.fastq.gz
./rawfastq/00_fastq/45C9_R1_001.fastq.gz
./rawfastq/00_fastq/131415L14_R1_001.fastq.gz
./rawfastq/00_fastq/123C14_R1_001.fastq.gz
./rawfastq/00_fastq/89C9_R2_001.fastq.gz
./rawfastq/00_fastq/789M4_R2_001.fastq.gz
./rawfastq/00_fastq/101112C14_R2_001.fastq.gz
./rawfastq/00_fastq/101112H9_R2_001.fastq.gz
./rawfastq/00_fastq/789M14_R1_001.fastq.gz
./rawfastq/00_fastq/131415H14_R2_001.fastq.gz
./rawfastq/00_fastq/123L9_R1_001.fastq.gz
./rawfastq/00_fastq/101112C4_R1_001.fastq.gz
./rawfastq/00_fastq/131415M9_R1_001.fastq.gz
./rawfastq/00_fastq/131415C4_R1_001.fastq.gz
./rawfastq/00_fastq/101112C9_R2_001.fastq.gz
./rawfastq/00_fastq/456H9_R2_001.fastq.gz
./rawfastq/00_fastq/101112L4_R2_001.fastq.gz
./rawfastq/00_fastq/131415H9_R1_001.fastq.gz
./rawfastq/00_fastq/456M4_R1_001.fastq.gz
./rawfastq/00_fastq/45C9_R2_001.fastq.gz
./rawfastq/00_fastq/89C14_R1_001.fastq.gz
./rawfastq/00_fastq/101112L9_R1_001.fastq.gz
./rawfastq/00_fastq/101112L4_R1_001.fastq.gz
./rawfastq/00_fastq/789L9_R1_001.fastq.gz
./rawfastq/00_fastq/101112H9_R1_001.fastq.gz
./rawfastq/00_fastq/123L4_R2_001.fastq.gz
./rawfastq/00_fastq/456L14_R1_001.fastq.gz
./rawfastq/00_fastq/131415M14_R2_001.fastq.gz
./rawfastq/00_fastq/123H4_R2_001.fastq.gz
./rawfastq/00_fastq/89M9_R1_001.fastq.gz
./rawfastq/00_fastq/131415M4_R1_001.fastq.gz
./rawfastq/00_fastq/131415H4_R2_001.fastq.gz
./rawfastq/00_fastq/101112M4_R2_001.fastq.gz
./rawfastq/00_fastq/456H4_R2_001.fastq.gz
./rawfastq/00_fastq/131415C9_R1_001.fastq.gz
./rawfastq/00_fastq/101112M14_R1_001.fastq.gz
./rawfastq/00_fastq/456L4_R1_001.fastq.gz
./rawfastq/00_fastq/456M14_R2_001.fastq.gz
./rawfastq/00_fastq/456H4_R1_001.fastq.gz
./rawfastq/00_fastq/789H14_R2_001.fastq.gz
./rawfastq/00_fastq/123H9_R1_001.fastq.gz
./rawfastq/00_fastq/101112M9_R1_001.fastq.gz
./rawfastq/00_fastq/101112M4_R1_001.fastq.gz
./rawfastq/00_fastq/789H4_R2_001.fastq.gz
./rawfastq/00_fastq/123L14_R2_001.fastq.gz
./rawfastq/00_fastq/456M9_R2_001.fastq.gz
./rawfastq/00_fastq/89C14_R2_001.fastq.gz
./rawfastq/00_fastq/456L9_R2_001.fastq.gz
./rawfastq/00_fastq/7C14_R1_001.fastq.gz
./rawfastq/00_fastq/123C14_R2_001.fastq.gz
./rawfastq/00_fastq/101112C9_R1_001.fastq.gz
./rawfastq/00_fastq/456M14_R1_001.fastq.gz
./rawfastq/00_fastq/789L14_R1_001.fastq.gz
./rawfastq/00_fastq/789C4_R1_001.fastq.gz
./rawfastq/00_fastq/456M9_R1_001.fastq.gz
./rawfastq/00_fastq/7C14_R2_001.fastq.gz
./rawfastq/00_fastq/6C14_R2_001.fastq.gz
./rawfastq/00_fastq/123C4_R2_001.fastq.gz
./rawfastq/00_fastq/456L9_R1_001.fastq.gz
./rawfastq/00_fastq/101112L9_R2_001.fastq.gz
./rawfastq/00_fastq/123L9_R2_001.fastq.gz
./rawfastq/00_fastq/131415L4_R2_001.fastq.gz
./rawfastq/00_fastq/101112H14_R2_001.fastq.gz
./rawfastq/00_fastq/456C4_R2_001.fastq.gz
./rawfastq/00_fastq/101112M14_R2_001.fastq.gz
./rawfastq/00_fastq/101112C4_R2_001.fastq.gz
./rawfastq/00_fastq/89C9_R1_001.fastq.gz
./rawfastq/00_fastq/789L9_R2_001.fastq.gz
./rawfastq/00_fastq/131415M14_R1_001.fastq.gz
./rawfastq/00_fastq/131415L4_R1_001.fastq.gz
./rawfastq/00_fastq/45H14_R2_001.fastq.gz
./rawfastq/00_fastq/101112L14_R1_001.fastq.gz
./rawfastq/00_fastq/131415H14_R1_001.fastq.gz
./rawfastq/00_fastq/123H9_R2_001.fastq.gz
./rawfastq/00_fastq/123M4_R2_001.fastq.gz
./rawfastq/00_fastq/456M4_R2_001.fastq.gz
./rawfastq/00_fastq/789H9_R1_001.fastq.gz
./rawfastq/00_fastq/131415M9_R2_001.fastq.gz
./rawfastq/00_fastq/131415H9_R2_001.fastq.gz
./rawfastq/00_fastq/67C9_R2_001.fastq.gz
./rawfastq/00_fastq/89M9_R2_001.fastq.gz
./rawfastq/00_fastq/789L4_R2_001.fastq.gz
./rawfastq/00_fastq/131415L9_R2_001.fastq.gz
./rawfastq/00_fastq/789L4_R1_001.fastq.gz
./rawfastq/00_fastq/123M4_R1_001.fastq.gz
./rawfastq/00_fastq/123L4_R1_001.fastq.gz
./rawfastq/00_fastq/123C4_R1_001.fastq.gz
./rawfastq/00_fastq/101112H4_R2_001.fastq.gz
./rawfastq/00_fastq/789H9_R2_001.fastq.gz
./rawfastq/00_fastq/789H14_R1_001.fastq.gz
./rawfastq/00_fastq/123C9_R1_001.fastq.gz
./rawfastq/00_fastq/67C9_R1_001.fastq.gz
./rawfastq/00_fastq/789M14_R2_001.fastq.gz
./rawfastq/00_fastq/456L4_R2_001.fastq.gz
./rawfastq/00_fastq/101112H14_R1_001.fastq.gz
./rawfastq/00_fastq/131415C14_R1_001.fastq.gz
./rawfastq/00_fastq/131415L14_R2_001.fastq.gz
./rawfastq/00_fastq/13M14_R1_001.fastq.gz
./rawfastq/00_fastq/789H4_R1_001.fastq.gz
./rawfastq/00_fastq/123H14_R1_001.fastq.gz
./rawfastq/00_fastq/101112M9_R2_001.fastq.gz
./rawfastq/00_fastq/101112C14_R1_001.fastq.gz
./rawfastq/00_fastq/131415C9_R2_001.fastq.gz
./rawfastq/00_fastq/101112H4_R1_001.fastq.gz
./rawfastq/00_fastq/456L14_R2_001.fastq.gz
./rawfastq/00_fastq/123H4_R1_001.fastq.gz
./rawfastq/00_fastq/101112L14_R2_001.fastq.gz
./rawfastq/00_fastq/123M9_R2_001.fastq.gz
./rawfastq/00_fastq/456C4_R1_001.fastq.gz
./rawfastq/00_fastq/789M4_R1_001.fastq.gz
./rawfastq/00_fastq/123H14_R2_001.fastq.gz
./rawfastq/00_fastq/123M9_R1_001.fastq.gz
./rawfastq/00_fastq/45H14_R1_001.fastq.gz
./rawfastq/00_fastq/131415H4_R1_001.fastq.gz
./rawfastq/00_fastq/131415C14_R2_001.fastq.gz
./rawfastq/00_fastq/123L14_R1_001.fastq.gz
./output/03_qaqc/trim_reads_fastp/456M4_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/101112M4_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/123H4_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/131415L4_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/789L14_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/456C4_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/45H14_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/789C4_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/123C14_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/123M9_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/89C9_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/123H9_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/67C9_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/789H9_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/101112L14_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/45C14_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/131415H4_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/45C9_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/456M14_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/101112M9_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/456L9_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/131415C9_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/131415C9_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/45C9_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/101112C4_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/789H4_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/101112C9_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/101112C14_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/131415L14_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/131415C14_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/123H14_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/101112H9_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/101112L9_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/89M9_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/123L9_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/89C9_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/101112C9_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/131415C14_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/456L4_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/123C14_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/131415H9_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/101112L4_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/101112L14_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/789H9_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/789M14_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/123C9_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/131415L9_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/101112C14_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/456M9_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/789L9_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/131415M9_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/89M9_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/131415H14_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/131415H9_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/101112L4_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/456H9_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/131415H14_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/123H4_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/456C4_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/101112H4_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/13M14_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/101112H14_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/101112C4_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/456L14_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/131415M4_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/123L14_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/789C4_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/123L4_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/131415L9_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/789L4_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/13M14_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/101112M4_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/101112M14_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/789L14_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/789L4_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/456M9_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/789L9_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/6C14_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/131415C4_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/456M14_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/456L14_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/123M9_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/789M4_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/456L9_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/131415L4_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/456H9_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/456H4_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/45H14_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/123C4_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/7C14_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/789M4_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/456L4_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/123M4_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/89C14_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/123C9_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/101112H4_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/101112H14_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/789M14_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/456M4_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/101112H9_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/131415M14_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/456H4_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/89C14_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/6C14_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/101112M14_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/45C14_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/123H9_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/131415M4_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/123M4_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/789H14_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/789H14_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/123L9_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/123H14_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/131415C4_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/131415H4_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/123C4_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/101112M9_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/123L14_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/131415M14_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/7C14_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/123L4_R2_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/131415M9_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/67C9_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/131415L14_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/101112L9_R1_001.fastp-trim.fq.gz
./output/03_qaqc/trim_reads_fastp/789H4_R2_001.fastp-trim.fq.gz
